<h3>Ask rails to say something!</h3>
<%= button_to "Hello", sh_url, :method => :get %>
<%= button_to "Goodbye", sg_url, :method => :get %>

<p>See more?</p>

 <!-- routes to more featuress -->
<%= button_to "Routes", sf_path, :method => :get %>
<%= button_to "Background Selector", cc_path, :method => :get %>
<%= button_to "Back to Routes", sf_path, :method => :get %>
<%= button_to "CliCK mE", ss_path, :method => :get %>
<%= button_to "Twitter API", ts_path, :method => :get %>
