<h3>Ask rails to say something!</h3>
<%= button_to "Hello", sh_url, :method => :get %>
<%= button_to "Goodbye", sg_url, :method => :get %>
<p>wana see some more routes :D</p>
<%= button_to "Features", sf_path, :method => :get %>
<p>if buttons make you nervous, you can always just click
<br>
<%= link_to "hello", sh_path %>
<%= link_to "goodbye", sg_path %></p>

