<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>Rubyfiddle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>



<body>
<%= favicon_link_tag 'favicon.ico' %>
		<div id="container">
			<%= button_to "Refesh", wi_url, :method => :get %>
			<div class="wrap">
				<img class="mainPic" src="http://blogs.smithsonianmag.com/aroundthemall/files/2009/01/npg_portraits_nicholson_jack_2002.jpg" />
			</div>
			<%= yield %>
			<!-- yield is where the content from the specific views comes into play. -->
			<text class="timeStamp">The current date, and precise time is => <%= $time %>.</text>
		</div>
</body>
</html>
